<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Document</title>
</head>
<body>
	<h1>Document</h1>
</body>
</html>
<script>
import './test.js'
</script>